* {
    margin: 1px;
}

body {
    background-color: #ffffff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 2%;
    margin-left: 37%;
}

h3 {
    color: #000000;
    font-size: 30px;
}

input {
    border: 1px solid black;
    box-shadow: inset;
}

footer {
    font-size: medium;
}